*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content{
    font-family: "DM Sans", sans-serif;
    --background: transparent !important;
}
.titulo{
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
}
a{
    text-decoration: none;
}
#menu{
    width: 100%;
    padding: 1em 4em 0 4em;
    display: flex;
    justify-content: space-between;
    background-color: black;
}
#menu ul{
    display: flex;
    width: 22%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em;
}

#ham{
    display: none;
}
.label{
    display: none;
}

.boton-menu{
    color: white;
}
.banner{
    width: 100%;
    position: relative;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.banner-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
.bannerText{
    position: absolute;
    z-index: 2;
    text-align: center;
    color: white;
}
.bannerText h1{
    font-size: 2.5rem;
    margin: 0;
}
.text{
    font-family: inherit;
    font-style: italic;
    padding: 1em;
}
#card{
    width: 100%;
    padding: 0 5em 5em 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card{
    width: 20%;
}
.card-text{
    padding: 1em;
}
.card-content1{
    padding-bottom: 2.6em;
}
#card-Scooter{
    width: 100%;
    padding: 0 5em 5em 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#footer{
    width: 100%;
    display: flex;
    gap: 2em;
    margin-top: 2em;
    background-color: black;
    padding: 5em 0 5em 5em;
}
.izq-pie{
    flex: 30%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-right: 3em;
}
.der-pie{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex: 70%;
}
.der-pie div{
    line-height: 2;
}
p{
    color: white;
}
h4{
    color: white;
}
@media only screen and (min-width: 0px) and (max-width: 600px){

    #menu{
        position: relative;
        flex-direction: row;
        padding-bottom: 1em;
    }
    .label{
        display: block;
    }
    #menu ul{
        display: none;
    }
    .menu-img{
        height: 20px;
    }
    #menu ul{
        display: none;
    }
    .banner{
        width: 100%;
        position: relative;
        height: 200px;
    }
    #card{
        flex-direction: column;
        padding: 0;
    }
    #card-Scooter{
        flex-direction: column;
        padding: 0;  
    }
    .card{
        width: 70%;
        margin-bottom: 1em;
    }
    #footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .izq-pie{
        padding: 0;
        flex: 100%;
    }
    .der-pie{
        flex: 100%;
        grid-template-columns: 1fr 1fr;
    }
}